html {
	font-size: 62.5%;
}

body {
	border: 3px solid black;
	font-family: 'Noto Serif', serif;
  	font-size:1.6rem;
  	line-height:1.5;
  	color:#4f4f4f;
}

h1, h2, h3, h4, h5, h6, p{
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing:3px;
  }

section {
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 50px;
	color: white;
	font-style: none;
	background-color: #4f4f4f	
}

header {
	display: flex;

}

h1 {
	display: flex;
}

header p {
	display: flex;

}

header img{
	display: flex;
	height: 150px;
	width: 150px;
	
}

.about {
	display: flex;

}

.fire {
	
	display: flex;
	
	
}

.fire img {
	width: 50%;
}

.reservations {
	display: flex;

}

.reservations img {
	display: flex;
}

footer img {
	display: flex;
	width: 100%
}